* {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 95vh;
	background-image: url(../assets/hero.png);
	background-size: cover;
	background-position: top;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heading-primary {
	color: #252525;
	text-transform: uppercase;
	animation: moveInLeft
}

.heading-primary-main {
	display: block;
	font-size: 60px;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(100px);

	}

}